# Entorno de trabajo
env_c6/
control6/control6/media/*

# Ignorar las migraciones de Django
control6/applications/budgets_management/migrations/*
control6/applications/external_systems_management/migrations/*
control6/applications/labour_management/migrations/*
control6/applications/lcl_management/migrations/*
control6/applications/libretto_management/migrations/*
control6/applications/maintenance_management/migrations/*
control6/applications/maneuvers_management/migrations/*
control6/applications/materials_management/migrations/*
control6/applications/node_scheduling_management/migrations/*
control6/applications/odm_management/migrations/*
control6/applications/overtime_management/migrations/*
control6/applications/penalities_management/migrations/*
control6/applications/scheduling_management/migrations/*
control6/applications/traceability_management/migrations/*
control6/applications/external_system/migrations/*
control6/applications/horas_extras/migrations/*
control6/applications/inspecciones_tqi/migrations/*
control6/applications/materiales/migrations/*
control6/applications/prestaciones/migrations/*
control6/applications/seguimiento_metas/migrations/*
control6/applications/static_data/migrations/*
control6/applications/users/migrations/*
control6/applications/work_management/migrations/*
